/* Override bold font on first column*/
table.rmdtable tr > td:first-child {
  font-weight: normal !important; 
}
/* Make table font darker*/
table.rmdtable tr > td {
  color: #515151;
}

/*Removes empty rows from tables: Hack to change the order to light/dark backgrounds*/
table.rmdtable td:empty {
  display: none
}


/**/
.title-slide hgroup h2 {
  font-size: 32px !important;
}

.two-cols {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  max-width: 40%;
}

.sidebar > p{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar img,  .sidebar div {
  margin-top: 10px;
  margin-bottom: 10px;
}